<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vanilla-gallery</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="module" src="../script/script.js"></script>
</head>
<body>
    <h2>Vanilla Gallery</h2>
    <div class="container">
         {{#each images}}
            <div class="slide">
                <div class="numbertext" >
                    <script>
                        document.write({{@index}} + 1)
                    </script>
                    / 5
                </div>
                <img src="{{download_url}}" alt="{{author}}">
            </div>
	    {{/each}}
    
    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>
    
    <!-- Next and previous button -->
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
     
    <!-- Thumbnail images -->
    <div class="thumb-bar">
        {{#each images}}
        <div id="{{@index}}" class="thumb-img">
        <img class="dem cursor" src="{{download_url}}" alt="{{author}}" >
        </div>
        {{/each}}
    </div>
    </div>
</body>
</html>